// White

$white-100: #fff;
$white-500: #fcfaf8;

$white: $white-100;

// Black

$black-10: #000;
$black-50: #212120;
$black-100: #201f1e;
$black-500: #28282e;
$black-900: #555;

$black: $black-100;

// Gray

$gray-50: #aab8b4;
$gray-100: #979797;
$gray-400: #d0cecc;
$gray-500: #eeeae7;
$gray-600: #8e8c8b;
$gray-700: #878483;
$gray-900: #f3efec;

$gray: $gray-500;

// Red

$red-500: #ff645a;
$red-600: #e30613;
$red-700: #ff0032;
$red-800: #f00;

$red: $red-600;

// Orange

$orange-500: #fc8843;

$orange: $orange-500;

// Blue

$blue-300: #7f7dfa;
$blue-500: #423eff;

$blue: $blue-500;

// Purple

$purple-100: #c1c3d6;
$purple-500: #af1fcc;

$purple: $purple-500;

// Yellow

$yellow-500: #f6e002;

$yellow: $yellow-500;

// Green

$green-50: #c5d5d1;
$green-100: #c1d6d1;
$green-500: #29cc5f;
$green-700: #02785e;

$hover-color: $green-700;
$green: $green-700;
