$gap: 40px;

$gap-mobile: 16px;

$header-height: 130px;

$footer-height: 285px;

$footer-height-mobile: 271px;

$section-padding: 40px;

$section-padding-phone: 15px;

$content-margin: 40px;

$content-margin-mobile: 30px;

$section-gap: 60px;

$button-height-size-s: 44px;

$button-height-size-xs: 48px;

$button-height-size-m: 60px;

$button-height-size-l: 80px;
