.form__gray-row {
  display: flex;
  flex-direction: column;
  width: calc(50% - 16px);
  height: fit-content;
  padding: 20px 30px;
  overflow: hidden;
  color: $gray-700;
  font-weight: 500;
  background-color: $gray;
  border-radius: 8px;
  cursor: pointer;
  transition: $UITransitionDefault;

  & + & {
    margin-top: 0;
  }

  &--full-width {
    width: 100%;
  }

  textarea {
    overflow: hidden;
    resize: none;
  }

  &:hover {
    background-color: $green-100;
  }

  @include media-breakpoint-down(tablet) {
    width: 100%;

    & + & {
      margin-top: 10px;
    }
  }
}

.gray-input__label {
  font-size: 14px;
}

.gray-input {
  all: unset;
  position: absolute;
  margin-top: 10px;
  color: $black;
  font-size: 16px;
  background: none;
  border: 0;
  opacity: 0;

  &--visible {
    position: relative;
    opacity: 1;
  }
}

.gray-input__count {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 12px;
  letter-spacing: -1px;
}

.gray-input__cross {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  opacity: 1;

  &::before,
  &::after {
    @include pseudo;
    width: 2px;
    height: 10px;
    background-color: $black;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }

  @include media-breakpoint-down(tablet) {
    top: 5px;
    right: 5px;
    background-color: $black;

    &::before,
    &::after {
      background-color: $white;
    }
  }
}
