$black-900: #282828;

$black-800: #464646;

$black: $black-900;

$red-100: #ffeded;
$red: #FF4747;


$gray-500: #8f8f8f;

$gray-450: #bebebe;

$gray-400: #c7c7c7;

$gray-350: #dcdcdc;

$gray-300: #d9d9d9;

$gray-250: #e8e8e9;

$gray-200: #EEEAE7;

$gray-100: #f8f8f8;

$gray: $gray-500;



$white-100: #fff;

$white: $white-100;



$green: #04785e;