.async-filter {
  border: 1px solid rgba(0, 0, 0, 0.23);
  margin-top: 8px;
  margin-bottom: 4px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1rem;

  &:hover {
    border-color: black;

    .async-filter__control {
      cursor: text;
    }
  }

  .async-filter__control {
    padding: 6px;
    padding-right: 15px;
  }

  .async-filter__indicator {
    cursor: pointer;
  }

  .async-filter__menu {
    z-index: 1000;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    border-right: none;
    scrollbar-width: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .async-filter__option {
    margin: 10px 0;
    cursor: pointer;
    padding: 0 10px;

    &:hover {
      background-color: lightgray;
    }
  }

  .async-filter__placeholder {
    color: rgb(128, 128, 128);
    padding-left: 6px;
  }
}
